#best{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
}
#demoObject {
  -webkit-box-shadow: 23px 18px 25px 4px rgba(0,0,0,0.94); 
  box-shadow: 23px 18px 25px 4px rgba(0,0,0,0.94);
  background: #070703;
  }
  body#tinymce {
  background: #030202
  
  }
  .armaan{
      margin: auto;
      width: 50%;
    margin-top: 100px;
      padding: 10px;
      height: 700px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
border-radius: 40px;
-webkit-box-shadow: 7px 13px 4px 0px #f3ecec; 
box-shadow: 7px 13px 4px 0px #ada4a4;
background: #dfdbdd;
background-image: url('img3.png');

}
body#tinymce {
background: #514B4F





  }
  .location{
      color: #f5f4f4;
      background: #e7e5e4;
      letter-spacing: .15em;
      color: #ffffff;
      background: #e7e5e4;
      height: 400px;
      width: 400px;
      font-size: 60px;
      font-weight: 900px;
      margin: auto;
      padding-top: 60px;
      

background-image: url(img3.png);
-webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px;
border-radius: 40px;
-webkit-box-shadow: 7px 13px 4px 0px #0A0909; 
box-shadow: 7px 13px 4px 0px #fafafa;
background: #000000;

  }
  body{
      background-image: url("img3.png");
  }